.header {
    text-align: center;
}

.graph-container {
    border: solid;
    flex: 2 2 50%;
    min-width: 0;
}

.labels-container {
    flex: 1 2 auto;
    min-width: 0;
}

#add-label {
    text-align: center;
}

.error {
    color: red;
}

#add-field {
    border: solid .2em;
    border-radius: 1em;
    padding: 1em;
    margin: 0em; 
}

#add-button {
    border: solid .2em;
    border-radius: 1em;
    padding: 1em;
    background-color: rgba(40, 200, 40, 0.4);
    cursor: pointer;
}

#add-button:hover {
    background-color: rgba(40, 200, 40, 0.5);
}

.label {
    border: solid .2em;
    border-radius: 1em;
    list-style-type: none;
    padding: .3em;
    margin: .2em;
    background-color: rgba(40, 40, 200, 0.4);
    cursor: pointer;
}

.label:hover {
    background-color: rgba(40, 40, 200, 0.5);
}

.container {
    display: flex;
}